<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
    <link rel="icon" href="/img/mercado.ico">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="#"><img src="/img/logo-mercado-liebre.svg" alt="Logo" class = "logo" title= "Página principal"></a>
        <input type="text" class="barra-busqueda" placeholder= "Buscar productos, marcas y más...">
        <button type= "submit"  class= "boton-buscar">Buscar</button>
        <p class= 'titulo-header'>Comprá en cuotas y con tarjeta de crédito</p>
        <nav>
            <ul class="header-centro">
                <li> <a href="https://www.mercadolibre.com.ar/ofertas#nav-header" class= "header-centro__link" target='_blank'>Ofertas</a></li>
                <li> <a href="#" class= "header-centro__link">Tiendas Oficiales</a></li>
                <li> <a href="#" class= "header-centro__link">Vender</a></li>
                <li> <a href="#" class= "header-centro__link">Ayuda</a></li>
            </ul>
            <ul class="header-derecha">
               <li><a href="#" class="header-derecha__link">Creá tu cuenta</a></li>
               <li><a href="#" class="header-derecha__link">Ingresá</a></li>
               <li><a href="#" class="header-derecha__link">Mis compras</a></li>
            </ul>
        </nav>
    </header>


    <main>


        <h2 class= "titulo-main-1">Basado en tu última visita</h2>
    <section class="section-main">
        <article>
            <img src="/img/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera" width= 100px class ="producto-img"> <br>
            <strong>$6.770</strong>
            <p>40% OFF</p>
            <h4>Cafetera Moulinex</h4>
        </article>
        <article>
            <img src="/img/img-macbook-pro-2019.jpg" alt="Imagen de MacBook" width= 100px class ="producto-img"> <br>
            <strong>$230.000</strong>
            <p>20% OFF</p>
            <h4>MacBook Pro 2019</h4>
        </article>
        <article>
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy S10" width= 100px class ="producto-img"> <br>
            <strong>$70.500</strong>
            <p>10% OFF</p>
            <h4>Samsung Galaxy S10</h4>
        </article>
        <article>
            <img src="/img/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" width= 100px class ="producto-img"> <br>
            <strong>$23.200</strong>
            <p>5% OFF</p>
            <h4>SmartTv Samsung 43"</h4>
        </article>
    </section>

    <hr>
    <h2 class="titulo-main-2">Sección de ofertas</h2>
    <section class="section-main">
        <article>
            <img src="/img/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera" width= 100px class ="producto-img"> <br>
            <strong>$6.770</strong>
            <p>40% OFF</p>
            <h4>Cafetera Moulinex</h4>
        </article>
        <article>
            <img src="/img/img-macbook-pro-2019.jpg" alt="Imagen de MacBook" width= 100px class ="producto-img"> <br>
            <strong>$230.000</strong>
            <p>20% OFF</p>
            <h4>MacBook Pro 2019</h4>
        </article>
        <article>
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy S10" width= 100px class ="producto-img"> <br>
            <strong>$70.500</strong>
            <p>10% OFF</p>
            <h4>Samsung Galaxy S10</h4>
        </article>
        <article>
            <img src="/img/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" width= 100px class ="producto-img"> <br>
            <strong>$23.200</strong>
            <p>5% OFF</p>
            <h4>SmartTv Samsung 43"</h4>
        </article>
    </section>
    </main> <br> <br>


    <footer>
        <div class ="div-footer">
        <section>
            <ul>
                <li><strong>Pagá con tarjeta de crédito o en efectivo</strong> </li>
            </ul>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <ul>
                <li><strong>Envío gratis desde $ 2.500</strong></li>
            </ul>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <ul><li><strong>Seguridad, de principio a fin</strong></li></ul>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
    </div>
    <section class="ultimo">
        <p>Copyright © 1999-2021 MercadoLiebre S.R.L.</p>
    </section>
    </footer>
</body>
</html>