<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
    <link rel="icon" href="/img/Mercado.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <div class="header-top"><a href="#"><img src="/img/logo-mercado-liebre.svg" alt="Logo" class = "logo" title= "Página principal"></a> <br>
        <input type="text" placeholder= "Buscar productos, marcas">
        <button type= "submit"><i class="fas fa-search"></i></button><br>
        <p> <i class="fas fa-hand-holding-usd"></i></i>  Comprá en cuotas y sin tarjeta de crédito</p> <br><br>
        </div>
        <nav>
            <ul type="none" class="nav-left">
                <li> <a class= "opciones-nav" href="#">Ofertas</a></li>
                <li> <a class= "opciones-nav" href="#">Tiendas Oficiales</a></li>
                <li> <a class= "opciones-nav" href="#">Vender</a></li>
                <li> <a class= "opciones-nav" href="#">Ayuda</a></li>
            </ul>
             <br>
            <ul type= "none" class="nav-right">
               <li><a class= "opciones-nav" href="/registro">Creá tu cuenta <i class="far fa-address-card"></i></i></a></li>
               <li><a class= "opciones-nav" href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
               <li><a class= "opciones-nav" href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class='caja-hamburguesa'><a href="#"><i class="fas fa-bars hamburguesa"></i></a></div>
    </header>
    <main>
        <form action="/" method="GET">
        <label for="usuario">Nombre de usuario</label>
        <input type="text" placeholder="Nombre de usuario">
        <label for="password">Contraseña</label>
        <input type="password">
        <button type="submit"></button>
        </form>
    </main>

    </body>
    </html>