<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
    <link rel="icon" type="image/x-icon" href="/img/Mercado.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <div class="header-top">
            <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="Logo" class = "logo" title= "Página principal"></a> <br>
            <div class="buscador-y-lupa">
                <input type="text" placeholder= "Buscar productos, marcas" class="buscador-header">
                <button type= "submit"><i class="fas fa-search"></i></button><br>
            </div>
        </div>
        <p> <i class="fas fa-hand-holding-usd"></i></i>  Comprá en cuotas y sin tarjeta de crédito</p> <br><br>
        <nav>
            <ul type="none" class="nav-left">
                <li> <a class= "opciones-nav" href="#">Ofertas</a></li>
                <li> <a class= "opciones-nav" href="#">Tiendas Oficiales</a></li>
                <li> <a class= "opciones-nav" href="#">Vender</a></li>
                <li> <a class= "opciones-nav" href="#">Ayuda</a></li>
            </ul>
             <br>
            <ul type= "none" class="nav-right">
               <li><a class= "opciones-nav" href="/registro">Creá tu cuenta <i class="far fa-address-card"></i></i></a></li>
               <li><a class= "opciones-nav" href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
               <li><a class= "opciones-nav" href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class='caja-hamburguesa'><a href="#"><i class="fas fa-bars hamburguesa"></i></a></div>
    </header>

    <main class="main-register">
        <form action="/" method="GET" class="form-register">
            <label for="nombreCompleto" class="label-register">Nombre y apellido</label><br>
            <input type="text" name="nombreCompleto" placeholder="Nombre y apellido" class="input-register"><br>
            <label for="nombreUsuario" class="label-register">Nombre de usuario</label><br>
            <input type="text" name="nombreUsuario" placeholder="Nombre de usuari@" class="input-register"><br>
            <label class="label-register">Fecha de nacimiento</label><br>
            <input type="date" name="fechaNacimiento" placeholder="Fecha de nacimiento" class="input-register"><br>
            <label for="domicilio" class="label-register">Domicilio</label><br>
            <input type="text" name="domicilio" placeholder="Domicilio" class="input-register"><br>
            <div>
                <label class="label-register">Perfil del usuario</label><br><br>
                <label for="comprador" class="label-perfil"><input type="radio" value="comprador" name="perfil" id="comprador" class="radio-perfil">Comprador</label>
                <label for="vendedor" class="label-perfil"><input type="radio"  value="vendedor" name="perfil" id="vendedor" class="radio-perfil">Vendedor</label>
            </div>
            <div class="intereses-register">
                <hr>
                <label class="label-register">Intereses</label><br>
                <div>
                    <input value="electro" type="checkbox" name="intereses" id="electro" class="input-intereses">
                    <label for="electro" class="label-intereses">Electro</label>
                    <br>
                </div><br>
                <div>
                    <input value="moda" type="checkbox" name="intereses" id="moda" class="input-intereses">
                    <label for="moda" class="label-intereses">Moda</label>
                    <br>
                </div><br>
                <div>
                    <input value="hogar" type="checkbox" name="intereses" id="hogar" class="input-intereses">
                    <label for="hogar" class="label-intereses">Hogar</label>
                    <br>
                </div><br>
                <div>
                    <input value="jugueteria" type="checkbox" name="intereses" id="jugueteria" class="input-intereses">
                    <label for="jugueteria" class="label-intereses">Juguetería</label>
                    <br>
                </div><br>
                <div>
                    <input value="vida-sana" type="checkbox" name="intereses" id="vida-sana" class="input-intereses">
                    <label for="vida-sana" class="label-intereses">Vida Sana</label>
                    <br><br>
                    <hr>
                </div><br>
                
            </div>
            <label for="foto-usuario" class="label-seleccionar-foto">Seleccione su foto de perfil</label><br><br>
            <input type="file" name="foto-usuario" accept=".jpg, .png" class="seleccionar-foto"><br><br>
            <label for="password" class="label-register">Contraseña</label><br>
            <input type="password" name="password" placeholder="Contraseña" class="input-register"><br>
            <label for="password-confirm" class="label-register">Confirmar contraseña</label><br>
            <input type="password" name="password-confirm" placeholder="Confirmar contraseña" class="input-register"><br>
            <div class="aceptar-borrar">
                <button type="submit" class="aceptar-register">Aceptar</button>
                <button type="reset" class="borrar-register">Borrar</button>
            </div>
        </form>
    </main>
    <footer>
        <div class="footer-section">
        <section>
            <ul type= 'none' >
                <i class="fas fa-credit-card icono-footer"></i>
                <li><strong class="titulos-footer">Pagá con tarjeta de crédito o en efectivo</strong> </li>
            </ul>
            <p class="parrafo-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section><br><br><br>
        <section>
            <ul type= 'none' >
                <i class="fas fa-gift icono-footer"></i>
                <li><strong class="titulos-footer">Envío gratis desde $ 2.500</strong></li>
            </ul>
            <p class="parrafo-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section><br><br><br>
        <section>
            <ul type= 'none' >
                <i class="fas fa-user-shield icono-footer"></i>
                <li><strong class="titulos-footer">Seguridad, de principio a fin</strong></li>
            </ul>
            <p class="parrafo-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section> <br><br>
    </div>
        <p id ='copyright'>Copyright © 1999-2021 MercadoLiebre S.R.L.</p><br><br>
    </footer>
</body>
</html>