 *{
    margin:0px;
    box-sizing: border-box;
 }

 header {
    font-family: 'Roboto', sans-serif;
    background-color: #EAC926;
    font-size: 12px;
 }

 .logo {
     width: 150px;
     margin: 10px;
 }

 .caja-hamburguesa{
     background-color: #1259c3;
     width: 25px;
     height: 25px;
     display: inline-block;
     border-radius: 4px;
     position: absolute;
     left: 50%;
 }

 .hamburguesa {
    color: #fff;
    text-align: center;
    position: relative;
    top: 25%;
    left: 25%;
    margin-left: 1px;
 }

 header input {
     margin: 10px;
 }
 header button {
     margin-left: 10px;
 }
 header p {
     display: inline-block;
     position: absolute;
     margin-left: 50px;
 }

 header button:hover{
     box-shadow: 2px 2px 5px 0 #666;
     cursor: pointer;
 }

 footer {
     text-align: center;
     font-family: 'Roboto', sans-serif;
     font-size: 12px;
 }

 .icono-footer {
     margin-bottom: 10px;
     color: #1259c3;
 }

 footer section p {
     font-size: 10px;
 }

 .parrafo-footer {
     margin-left: 50px;
     margin-right: 50px;
 }
 
 .copyright{
     margin-bottom: 25px;
     text-align: left;
     margin-left: 25px;
     font-size: 8px;
 }

 