 *{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: .5px solid #888  */
 }

 header {
    font-family: 'Roboto', sans-serif;
    background-color: #EAC926;
    font-size: 12px;
    padding-bottom: 15px;
 }

 header nav ul{
    margin-left: 5px;
}

 .logo {
     width: 200px;
     margin: 10px;
 }
 nav{
     display:none;
 }
 .opciones-nav{
     color: #000;
     text-decoration: none;
 }

 .caja-hamburguesa{
     background-color: #1259c3;
     width: 25px;
     height: 25px;
     border-radius: 5px;
     margin: 0px auto;
 }

 .hamburguesa {
    color: #fff;
    text-align: center;
    margin-left: 7px;
    margin-top: 7px;
 }

 header input {
     margin: 10px 0px 10px 10px;
     width: 50%;
     border: none;
     padding: 3px;
     border-radius: 5px 0px 0px 5px
 }

 header input:focus{
     outline:none;
 }
 
 header button {
     margin-left: 0px;
     border-radius: 0px 5px 5px 0px;
     border: none
 }

 .fa-search{
     padding: 4px
 }
 header p {
     display: inline-block;
     margin-left: 50px;
 }

 header button:hover{
     box-shadow: 0px 0px 8px 0 #666;
     cursor: pointer;
 }

 main{
     margin: 0 auto;
     text-align: center;
     width: 90%;
     padding: 50px;
     font-family: 'Roboto', sans-serif;
     font-size: 12px;
     background-color: #ebebeb;
 }
 section article {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-top: 1px solid #ebebeb;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
    display: inline-block;
 }

 img {
     width: 100%;
 }

 .nombre-producto{
     font-size: 12px;
     color: #666;
     display: none;
 }



.precio{
        font-size: 18px;
        color:black;
        float:left;
    }

.descuentos{
    font-size: 12px;
    color: #39b54a;
    float:left;
    margin-top: 3px;
    margin-left: 5px;
    
    }
    /* .precio-descuento{
        border: 1px solid red;
        width: 100%;
        display: flex;
    } */

    .circulo-camion{
        border: 1px solid #39b54a;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin-left: 90%
    }

    
    .fa-truck{
        color: #39b54a;
        margin-top: 6px;
    }

 footer {
     text-align: center;
     font-family: 'Roboto', sans-serif;
     font-size: 12px;
     padding: 20px 55px 20px 55px;
 }

 .icono-footer {
     margin-bottom: 10px;
     color: #1259c3;
     font-size: 2em;
 }

 .footer section{
    text-align: center;
 }

 footer section p {
     font-size: 10px;
     text-align: right;
 }

 .titulos-footer{
     margin-right: 25px;
 }

 .parrafo-footer {
    text-align: center;
 }
 #copyright{
     margin: 25px;
     text-align: left;
     font-size: 8px;
 }

 

 @media (min-width: 611px) {

    .header-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header nav{
        display:flex;
        justify-content: space-between;
    }

    
    nav ul {
        display: flex;
        font-size: 14px;
    }

    .nav-left{
        justify-content: flex-start;
        width: 45%;
        align-items: flex-end;
    }
    .nav-right{
        justify-content: flex-end;
        width:55%;
        align-items: flex-end;
    }

    .nav-right li {
        padding-right: 6px;
        align-self: flex-end;
    }

    .nav-left li {
        padding-left: 5px;
    }
    .caja-hamburguesa{
        display:none;
    }
    .hamburguesa{
        display: none;
    }
 
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        border-radius: 5px;
        margin-left: 20px;
        margin-right:20px;
        min-width: 180px;
        width: 35%;
    }
    main {
        padding:25px 17px 25px 17px;
    }

    .descripcion-articulo{
        display: flex;
        flex-direction: column;
    }

    .nombre-producto{
        font-size: 12px;
        font-weight: bold;
        color: #666;
        text-align: left;
        display: flex;
    }
    footer{
        font-size: 16px;
    }

    footer section p {
        font-size: 13px;
    }
}
 
@media (min-width: 1200px){

    .header-top, header nav {
        max-width: 1200px;
        margin: auto;
    }

    nav ul{
        font-size: 15px;
    }

    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        border-radius: 5px;
        margin-left: 20px;
        margin-right:20px;
        min-width: 180px;
        width: 20%;
    }

    footer{
        font-size: 15px;
    }

    footer section p {
        font-size: 13px;
    }
}